<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>LOTTOLAND</title>

<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Rock, Paper, Scissors </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<div class="container">
		<form method="post" th:action="@{/}" th:object="${rounds}" class="mt-5">

			<p th:text="'Rounds played: ' + ${#session.getAttribute('roundsPlayed')}"></p>

			<a class="btn btn-primary" th:href="@{/index/play}">¡Play!</a>
			<!--<div class="bottom">
				<button class="btn btn-primary" type="submit">¡Play!</button>
			</div>-->

			<p th:text="hola" ></p>
<!--			<p th:text="${#session.getAttribute('scoreBoard')}" ></p>-->
			<p th:text="${scoreBoard}" ></p>
			<p th:text="${rounds}" ></p>
			<p th:field="${rounds}" ></p>


			<div class="container">
				<div th:if="${rounds != null}">
					<div class="row col-md-7 table-responsive">
						<h1>Summary</h1>
						<table id="customerTable" class="table">
							<thead>
								<tr>
									<th scope="col">Player 1</th>
									<th scope="col">Player 2</th>
									<th scope="col">Winner</th>
								</tr>
							</thead>
							<tbody>

								<!--<tr th:each="round, itemStat : *{#session.getAttribute('scoreBoard')}">
									<td><input class="border-0" readonly
										th:field="*{rounds[__${itemStat.index}__].player1}" /></td>
									<td><input class="border-0" readonly
										th:field="*{rounds[__${itemStat.index}__].player2}" /></td>
									<td><input class="border-0" readonly
										th:field="*{rounds[__${itemStat.index}__].name}" /></td>
								</tr>-->
								<!--<tr th:each="round, itemStat : *{rounds}">
									<td><input class="border-0" readonly
											   th:field="*{rounds[__${itemStat.index}__].player1}" /></td>
									<td><input class="border-0" readonly
											   th:field="*{rounds[__${itemStat.index}__].player2}" /></td>
									<td><input class="border-0" readonly
											   th:field="*{rounds[__${itemStat.index}__].name}" /></td>
								</tr>-->
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</form>

		<form method="get" th:object="${rounds}" class="mt-5">
			<a class="btn btn-primary" th:href="@{/index/reset}">Reset</a>
		</form>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>